* {
    margin: 0;
    padding: 0;
}

.date {
    margin-top: 10px;
}

.cc {
    margin-top: 2px;
    margin-bottom: 6px;
}

.header {
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
    margin-left: 5%;
    color: black;
    /* font-size: large; */
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: underline rgb(148, 221, 245);
    font-family: 'PT Serif', serif;
}


.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.insidehead {
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
}

.insides {
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 16px;
    margin-top: 15px;
}

.logos {
    height: 90px;
    width: 90px;
    margin-top: -10px;
}

.gl {
    margin-top: -50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: xx-large;
    font-weight: 500;
}

.content {
    height: fit-content;
    width: 83%;
    text-align: justify;
    margin: auto;
}

.castandmovie {
    display: block;
    justify-content: space-around;
    margin-top: 2%;

}

.cast {
    text-align: justify;
    margin-left: 15px;
}

.plot {
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 48px;
}

.movie1 {
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
    display: none;
}

.mv1 {
    margin-left: 70px;
    margin-top: 2%;
}


.cast1 {
    text-align: justify;
    margin-left: 40px;
}

.cast2 {
    text-align: justify;
    margin-left: -162px;
}

.cast3 {
    text-align: justify;
    margin-left: -122px;
}

.box {
    border: 2px solid rgb(203, 200, 200);
    width: 38%;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: gainsboro;
}

.img1 {
    margin-left: 33px;
    margin-bottom: 10px;
    margin-top: 15px;
    height: 300px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 5px 5px 6px gray;
}

.hr {
    height: 3px;
    background-color: rgb(210, 207, 207);
}

@media (max-width:450px) {
    .box {
        width: 91%;
        font-size: small;
        margin-top: 10px;
        margin-left: 4%;
        margin-bottom: 15px;
    }

    .hr {
        width: 360px;
    }

    .header {
        margin-top: 10%;
    }

    .gl {
        font-size: larger;
        margin-top: 10px;
        /* margin-left: -30px; */
    }

    .insidehead {
        gap: 50px;
    }

    .img1 {
        width: 290px;
        height: 250px;
        margin-left: 16px;
    }

    li {
        font-size: large;
    }
}

@media screen and (min-width:500px) and (max-width:900px) {
        .box{
            width:90vw;
            padding-bottom: 10px;
        }
        .img1{
            margin-left: 14%;
            width:70%;
        }
        .castandmovie{
            display: none;
        }
        .gl{
            margin-top:2px;
        }
        .hr{
            width:85vw;
            margin-left: 25px;
        }
}
